/* НАВИГАЦИЯ */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #823803;
    border-bottom: 5px solid #522708;
    padding: 10px 20px;
}

header div {
    display: flex;
    align-items: center;
}

header div img {
    border-radius: 50%;
}

header div p {
    font-size: 34px;
    margin-left: 15px;
}

header nav {
    margin-right: 20px;
}

header nav a {
    font-size: 28px;
    color: #cf8551;
    margin-left: 15px;
    text-decoration: none;
}

header nav a:hover {
    text-decoration: underline;
    color: #dda780;
}

h1 {
    font-size: 30px;
    text-align: center;
    border-bottom: 5px solid #522708;
    margin-top: 10px;
    padding: 10px;
    width: 100%;
}


.name-item {
    margin-right: 200px;
}

.price {
    color: #558a01;
    font-weight: bold;
}


.item-description {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 20%;
    margin-right: 20%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #823803;
    border: 5px solid #522708;
    border-radius: 10px
}

.item-description-img {
    border-radius: 10px;
}

.item-description-main-div {
    width: 100%;
}

.item-description-div1 {
    margin: 40px;
    display: flex;
}

.item-description-div2 {
    margin-left: 40px;
}
