/* НАВИГАЦИЯ */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #823803;
    border-bottom: 5px solid #522708;
    padding: 10px 20px;
}

header div {
    display: flex;
    align-items: center;
}

header div img {
    border-radius: 50%;
}

header div p {
    font-size: 34px;
    margin-left: 15px;
}

header nav {
    margin-right: 20px;
}

header nav a {
    font-size: 28px;
    color: #cf8551;
    margin-left: 15px;
    text-decoration: none;
}

header nav a:hover {
    text-decoration: underline;
    color: #dda780;
}

h1 {
    font-size: 30px;
    text-align: center;
    border-bottom: 5px solid #522708;
    margin-top: 10px;
    padding: 10px;
    width: 100%;
}



.order-create {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    margin-bottom: 50px;
    margin-left: 30%;
    margin-right: 30%;
    background-color: #823803;
    border: 5px solid #522708;
    border-radius: 10px;
}

.order-create > div > form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.order-create > div > form > p {
    margin-top: 10px;
}


input {
    margin: 10px;
    padding: 5px;
    width: 80%;
}

input[type="text"] {
    font-family: “Comic Sans MS”, “Comic Sans”, cursive;
    background-color: #ffe3ce;
    color: #cf8551;
    border-radius: 10px;
}

input[type="submit"] {
    font-family: “Comic Sans MS”, “Comic Sans”, cursive;
    background-color: #522708;
    color: #cf8551;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #dda780;
}

input[type="submit"]:active {
    transform: scale(0.95);
}

input[value="Оплатить"] {
}

